extends layout
block content
    .container
        .col-md-12
            h1 Register here
            form(action='/set-password' method='POST')
                label(for='email') Enter your email: 
                <br>
                input('name'='email')
                <br>
                <br> 
                label(for='email') Enter your password:
                <br> 
                input('name'='password')
                <br>
                <br>
                input(type='submit' value='Submit')
