extends layout
block content
    .container
        .col-xs-12
        h2 Return your bike
        h2 #{stand.standName}
        p #{stand.location}
        p #{stand.bikes} bikes are available at this stand
        form(action='/thanks' method='POST')
            input(type='hidden' name='standID' value=stand.standID)
            label(for='bikeId') Enter Bike ID: 
            input('name'='bikeId') 
            input( type='submit' value='Submit')