extends layout
block content
    - console.log(data)
    .container
        .col-md-12
            h1 Please select your closest bike point from bellow to pick up or return a bike.
            .col-md-12
                for item in data 
                    .col-md-2
                        a(href='/selected-stand/' + item.standID)
                            .panel-info
                                .panel-heading #{item.standName}
                                .panel-body #{item.count} Bike Avilable at this point