extends layout
block content
    .container  
        .col-xs-12 

        h2 Take your bike
        h2 #{stand.standName}
        p #{stand.location}
        p #{stand.bikes} bikes are available at this stand
        form(action='/hire', method='POST')
            input(type='hidden' name='standID' value=stand.standID)
            input(type='text' name='userID')
            div 
            input( type='submit' value='Submit')